.chat-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: none;

  .panel {
    width: 191px;
    border: none;
    margin-bottom: 0;
  }

  .top-bar {
    height: 40px;
    width: 191px;
    background-color: #06949b;
    color: #ffffff;
    font: 14px 'Lato', sans-serif;

    h3 {
      margin-top: 13px;
    }
    a {
      padding-top: 13px;
      display: block;
      color: #83cacd;
    }

  }

  .panel-body {
    width: 191px;
    height: 100%;
    padding-bottom: 55px;
    background-color: #ededed;
    img {
      height: 26px;
      width: 26px;
    }
    p {
      color: #4d4d4d;
      font: 300 10px Lato;

    }
    .msg_receive {
      p {
        border-radius: 10px;
        background-color: #c6dfea;
        display: inline;
        padding: 5px;
      }
    }
    .msg_sent {
      border-radius: 10px;
      background-color: #f1dac4;
      display: inline;
      padding: 5px;
      float: right;
    }

    .body {
      height: 100%;
    }
  }

  .sub-bar {
    border-bottom: 1px solid #d2d2d2;
    height: 35px;
    background-color: #ededed;
    a {
      margin-top: 8px;
      display: block;
      color: #808080;
    }
    p:first-child {
      color: #666666;
      font: 10px 'LatoLight', sans-serif;
      line-height: 1px;
      margin-top: 10px;
    }

    p {
      color: #aeaeae;
      font: 10px 'LatoLight', sans-serif;

    }
  }
  .panel-footer {
    background-color: #ededed;
    a {
      color: #808080;
    }
    input {
      border: 0px;
      color: #949494;
      font: 300 10px Lato;
      background-color: #ededed;
    }
  }
}

