nav.sidebar-menu-collapsed {
  width: 40px;
}
nav.sidebar-menu-expanded {
  width: 195px;
}
nav.sidebar {
  z-index: 1000;
  position: absolute;
  margin-top: -5px;
  left: 0px;
  height: 100%;
  background-color: #06949b;
  color: white;
  padding: 10px 15px;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      margin-top: 10px;
      list-style-type: none;

      a.expandable {
        outline: 0;
        color: white;
        text-decoration: none;
        font: 12px 'LatoLight', sans-serif;

        span.expanded-element {
          margin-left: 2px;
          display: none;
          position: relative;
          bottom: 2px;
        }
      }

      a.expandable:hover {
        color: #bbbbbb;
      }


    }
  }
}
