// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 100%;
  overflow-y: auto;
  background: #000;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.row-no-padding {
  margin: 0 !important;
  padding: 0 !important;

  [class*="col-"] {
    padding: 0 !important;
  }
}


.doc {
  background-color: #662D8C;
  height: 325px;
  margin: 5px;

}

.sob {
  background-color: #C2AD94;
  height: 292px;
  margin: 5px;
}

.bd {
  background-color: #29A6DD;
  height: 215px;
  margin: 5px;
}

.uve {
  background-color: #E81C24;
  height: 215px;
  margin: 5px;
}

.news {
  background-color: #00A498;
  height: 162px;
  margin: 5px;
}

.ph {
  background-color: cornflowerblue;
  height: 120px;
  margin: 5px;
}

.otsu {
  background-color: #EC5A24;
  height: 100px;
  margin: 5px;
}